<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Um programador que pode lhe ajudar :) - Disponível para freelas" />
  <meta name="keywords" content="joao, netto, joaonettome, programador, desenvolvedor, web, mobile, iphone, ios, wordpress, rails, freela, php, ruby, curitiba, brazil, brasil, parana" />

  <title>João Netto | Desenvolvedor Web</title>
  
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/alpha.css" media="all" />
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19971072-1']);
    _gaq.push(['_setDomainName', 'joaonetto.me']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span6 offset3 content">
        <h1>Olá! Sou o João.</h1>
        
        <p>Trabalho com <a href="http://br.linkedin.com/in/joaonettome/pt" target="_blank">desenvolvimento para web</a> como freelancer, com diversas linguagens (<span class="heart">&hearts;</span> Ruby & PHP). Moro em Curitiba, Paraná. A minha última experiência <em>in loco</em> foi com e-commerce na <a href="http://e-completo.com.br" target="_blank">eCompleto</a> (os criadores de <a href="http://dride.com.br" target="_blank">D-Ride</a> e <a href="http://adcarros.com.br" target="_blank">adCarros</a>).</p>
        
        <p>Tenho trabalhado bastante com aplicativos para facebook, sistemas para startups, intranets e Wordpress. Você pode ver alguns de meus jobs abaixo:</p>
        <dl class="dl-horizontal recent_projects">
          <dt>Wiseup Teens</dt>
          <dd>Campanha para dia dos pais. Flash AS3 + PHP. <a href="/portfolio/wut_pais_1.jpg" target="_blank">1</a>, <a href="/portfolio/wut_pais_2.jpg" target="_blank">2</a> e <a href="/portfolio/wut_pais_3.jpg" target="_blank">3</a>. Para a Yeah.</dd>
          
          <dt>Wiseup</dt>
          <dd>Campanha para dia das mães. Flash AS3 + PHP. Mais <a href="http://exame.abril.com.br/marketing/noticias/wise-up-homenageia-maes-com-tatuagens-virtuais" target="_blank">aqui</a>. Para a Yeah.</dd>
          
          <dt>Icekiss</dt>
          <dd>Portal em Wordpress. PHP, Wordpress. Veja <a href="http://icekiss.com.br" target="_blank">aqui</a>. Para a Contenido.</dd>
          
          <dt>Contrafilé</dt>
          <dd>Portal em Wordpress. Plugins. PHP, Wordpress. Veja <a href="http://www.contrafile.org" target="_blank">aqui</a>.</dd>
          
          <dt>Icekiss</dt>
          <dd>Aplicativo Mandabala para Facebook. Veja <a href="http://apps.facebook.com/icekiss" target="_blank">aqui</a>. Para a Contenido.</dd>
        </dl>
        
        <p>Você pode conhecer mais sobre mim descobrindo <a href="http://www.last.fm/user/jooa1" target="_blank">meu gosto musical</a> ou <a href="http://br.linkedin.com/in/joaonettome/pt" target="_blank">vendo minha experiência</a>. No momento não estou buscando por um trabalho <em>fulltime</em>, mas <strong>você pode me contratar para um projeto</strong>.</p>
        <p><a href="mailto:hi@joaonetto.me">Mande um email</a> para dizer um olá e conversarmos sobre como eu posso te ajudar.</p>
      </div>
    </div>
  </div>
</body>
</html>