@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');

body {
	font:200 18px/200% 'Helvetica','Arial',sans-serif;
}

.content {
	margin-top:5%;
	padding-bottom:80px;
}

.content h1 {
	color:#3396A6;
	margin-bottom:40px;
	text-shadow:1px 1px 1px rgba(255, 255, 0, .1);
}

.content a {
	color:#3396A6;
}

.content a:hover {
	color:#073334!important;
	font-weight:bold;
	-webkit-transition:all .5s;
	text-decoration:none;
}

.content p {
	-moz-text-shadow:1px 1px 1px rgba(255, 255, 0, .1);
	text-shadow:1px 1px 1px rgba(255, 255, 0, .1);
	margin-top:20px;
	text-align:justify;
}

.heart {
	color:#3396A6;
}

.recent_projects dt {
	color:#3396A6;
}

dl {
	margin:40px 0;
}