/* bootstrap */
@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

/* css3 stuff */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99!important; color:#fff; text-shadow: none; }

/* js plugins */
.slider { display:inline-block; position:relative; width:200px; height:52px; overflow:hidden; top:10px; }

/* main typo */
body {
  font-family: 'Open Sans','Arial',sans-serif;
}

/* site "rows styled" and section colors */
.page-section {
  background-attachment:fixed;
  background-image:url('../img/bg-noise.png');
  padding:100px 0 200px;
  min-height:1300px;
  height:1000px;
  text-shadow:1px 1px 1px rgba(0,0,0,.2);
}

  .page-section#home {
    padding-top:140px;
    background:#fff url('../img/bg-noise-white.png');
  }
  
  .page-section#work {
    background-color:#09C;
    color:#fff;
  }
  
  .page-section#blog {
    background-color:#7C4;
  }
  
  .page-section#contact {
    background-color:#222;
    color:#fff;
    height:600px;
    min-height:600px;
  }

/* navbar */
.navbar, .navbar-inner {
  background:transparent!important;
  border:0!important;
  box-shadow:none!important;
}
  .navbar .container {
    padding-top:20px;
  }
/* navbar white */
.navbar.white a.brand {
  background:url('../img/logo.png') no-repeat !important;
}
.navbar.white ul.nav a {
  color:#fff;
}
  .navbar a.brand {
    background:url('../img/logo.png') no-repeat 0 -25px !important;
    width:159px;
    height:25px;
    padding:0;
    text-indent:-5000px;
  }
  .navbar ul.nav {
    float:right;
  }
    .navbar ul.nav a {
      color:#333;
      font-size:15px;
      font-weight:400;
      text-align:center;
      text-transform:lowercase;
    }
    .navbar ul.nav a:hover {
      color:#333;
    }
    .navbar ul.nav li.active a {
      background:transparent!important;
      font-weight:700;
      color:#333;
    }

/* home section */
.page-section#home h1 {
  font:300 40px 'Open Sans';
  line-height:50px;
  color:#333;
  margin-bottom:80px;
}
  .page-section#home h1 a {
    font-weight:600;
    text-decoration:none;
    color:#333;
  }
  
  .page-section#home h3 {
    font-weight:400;
    font-size:22px;
    line-height:30px;
    color:#333;
    margin-bottom:10px;
  }
  
  .page-section#home .thumbnail {
    padding:0;
    border:none;
    border-radius:0!important;
    box-shadow:none!important;
  }
    .page-section#home .thumbnail:hover {
      box-shadow:none!important;
    }
    .page-section#home .thumbnail img {
      margin:0;
      height:auto;
      -webkit-transition:all .2s;
    }
    .page-section#home .thumbnail:hover img {
      box-shadow:0 0 15px rgba(0, 0, 0, 0.6);
    }

/* work section */
.page-section#work h2 {
  font-weight:300;
  font-size:22px;
}

  .page-section#work .job-details {
    margin-top:80px;
  }
    .page-section#work .job-details h1 {
      font-weight:400;
      font-size:22px;
    }
    .page-section#work .job-details h4 {
      font-weight:300;
      font-size:14px;
    }
      .page-section#work .job-details h4 a {
        font-weight:600;
        text-decoration:none;
        color:#fff;
      }
    .page-section#work .job-details h5 {
      font-weight:600;
      font-size:14px;
      margin-top:50px;
    }
    .page-section#work .job-details ul {
      margin:10px 0 0 0;
    }
      .page-section#work .job-details ul li {
        list-style:none;
        font-style:italic;
        border-bottom:1px solid rgba(255, 255, 255, .4);
        padding:8px 10px;
        font-size:14px;
      }
      .page-section#work .job-details ul li:last-child {
        border:0;
      }

  .page-section#work .job-media {
    position:relative;
  }
    .page-section#work .job-media ol {
      background:url('../img/background-cases.png') no-repeat;
      width:500px;
      height:381px;
      z-index:4;
      position:relative;
      margin-left:auto;
      margin-right:auto;
      list-style:none;
      margin-top:80px;
    }
      .page-section#work .job-media ol li {
        position:absolute;
        top:21px;
        left:21px;
        width:458px;
        height:258px;
        z-index:3;
      }
    .page-section#work .job-media .navigation {
      position:absolute;
      width:650px;
      top:200px;
      left:-325px;
      margin-left:50%;
      text-align:center;
    }
      .page-section#work .job-media .navigation a {
        z-index:1;
        display:inline-block;
        opacity:0;
      }
      .page-section#work .job-media .nav-left {
        background:url('../img/navigation-slides.png') no-repeat 0 -62px;
        width:62px;
        height:62px;
        margin-left:0!important;
      }
      .page-section#work .job-media .nav-right {
        background:url('../img/navigation-slides.png') no-repeat 0 0;
        width:62px;
        height:62px;
      }

/* blog section */

/* contact section */
.page-section#contact h1 {
  font-size:22px;
  font-weight:400;
  margin:60px 0;
}
  .page-section#contact .option {
    float:left;
  }
    .page-section#contact .option.s {
      position:relative;
      top:-16px;
      margin:0 20px;
      text-align:center;
      font-weight:700;
    }
  .page-section#contact a.navigate { 
    width:12px;
    height:6px;
    display:block;
    text-indent:-5000px;
    background:url('../img/arrows-contact.png') no-repeat -1px -1px;
    margin:0 auto;
  }
  .page-section#contact a.navigate.next {
    background:url('../img/arrows-contact.png') no-repeat -1px -18px;
  }
  
  .page-section#contact form {
    margin-top:20px;
  }
    .page-section#contact form .input-xlarge {
      padding:12px;
      font:200 14px 'Open Sans';
      background:#222;
      background:rgba(0,0,0,.2);
      box-shadow:inset 0 2px 8px #111;
      border:0;
    }
    .page-section#contact form textarea.input-xlarge {
      height:100px;
    }